<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li routerLinkActive="active">
        <a routerLink=''>Home</a>
      </li>
      <li routerLinkActive = "active">
        <a routerLink="app-cra-form">Nouveau CRA</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <img src="./images/xlmlogo.png" alt="">
      </li>
      <li routerLinkActive="active">
        <a href="http://xlm-services.com/">XLM SERVICES</a>
      </li>
    </ul>
  </div>
</nav>

