<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato" />
<app-header></app-header>

<body class="w3-light-grey">
        <div class="container">
                                <router-outlet></router-outlet>
        </div>
</body>


<router-outlet name="print"></router-outlet>

<!-- Footer -->
<footer class="page-footer font-small blue">
        <br>
        <div class="footer-copyright text-center py-3">© 2019 Copyright:
          <a href="http://xlm-services.com/"> XLM-Services.com</a>
        </div>
        <br>
</footer>
<!-- Footer -->