<div class="row" id="craForm">

    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-8" 
        style="background-color:whitesmoke">

      <form [formGroup]="craForm" style="font-family:Lato;">

        <div class="form-group">
            <h2>Saisir mon CRA {{ month }} </h2>
        </div>

        <div *ngIf="month === ''">
            <label for="month" >Selectionner le Mois</label>
            <input type="text" class="form-control" id="month" formControlName="month">          
        </div>
        
        <br>

        <div class="form-group" style="align-content: flex-end">
            <h4>Importer les information depuis un fichier CRA.csv:</h4>
            <input type="file"
            #fileImportInput
            name="File Upload"
            id="txtFileUpload"
            class="btn btn-square btn-secondary"
            (change)="fileChangeListener($event)" 
            accept=".csv"/>
        </div>

        <div class="form-group" id="div-company">
          <label for="company" >Nom de l'entreprise client</label>
          <input type="text" class="form-control" id="company" formControlName="company">

          <label for="responsibleName" >Votre responsable client</label>
          <input type="text" class="form-control" id="responsibleName" formControlName="responsibleName">

          <div *ngIf="craForm.controls.responsibleName.invalid && (craForm.controls.responsibleName.dirty || craForm.controls.responsibleName.touched)" 
                class="alert alert-danger">
            <div *ngIf="craForm.controls.responsibleName.errors.required">
                Champs Obligatoire
            </div>
          </div>
          <label for="responsibleEmail" >Email du responsable</label>
          <input type="text" class="form-control" id="responsibleEmail" formControlName="responsibleEmail">
          <div *ngIf="craForm.controls.responsibleEmail.invalid && (craForm.controls.responsibleEmail.dirty || craForm.controls.responsibleEmail.touched)" 
                class="alert alert-danger">
            <div *ngIf="craForm.controls.responsibleEmail.errors.required">
                Champs Obligatoire
            </div>
          </div>
        </div>
        
        <div class="form-group" id="div-details">
          <label for="details" >Detail de mission</label>
          <textarea name="" class="form-control" id="details" rows="10" formControlName="details" ></textarea>
        </div>
       
        <br>

        <app-leave-form (click)="countNbWorkedDay()"></app-leave-form>        

        <br>

        <app-overtime-form></app-overtime-form>
        
        <br>

        <div class="form-group" id="cra-comment">
            <label for="craComment">Commentaires</label>
            <textarea rows="10" class="form-control" id="craComment" formControlName="craComment" ></textarea> 
        </div>

        <div class="form-group">
            <label for="nbWorkDay">Nombre de jours travailles</label>
            <input type="number" class="form-control" 
                    [(ngModel)]="nbWorkDay"
                    [ngModelOptions]="{standalone: true}"
                    disabled
                    id="nbWorkDay" style="widows: 80px">
        </div>

        <div class="form-group row">
          <div class="col-md-6 col-mb-6">
                <label for="name">Votre Nom</label> 
                <input type="text" class="form-control" id="name" formControlName="name" style="width: auto">
                <div *ngIf="craForm.controls.name.invalid && (craForm.controls.name.dirty || craForm.controls.name.touched)">
                    <p class="text-danger" *ngIf="craForm.controls.name.errors.required">
                              Champs requis
                    </p>
                </div>
          </div>
          <div class="col-md-6 col-mb-6">
                <label>Votre Email</label>
                <input type="email" class="form-control" id="email" formControlName="email" style="width: auto">
                <div *ngIf="craForm.controls.email.invalid && (craForm.controls.email.dirty || craForm.controls.email.touched)">
                    <p class="text-danger" *ngIf="craForm.controls.email.errors.required">
                              Champs requis
                    </p>
                    <p class="alert alert-danger" *ngIf="craForm.controls.email.errors.email">
                              Format non valid, saisir une adresse email
                    </p>
                </div>
          </div>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary" (click)="onSend()" [disabled]="craForm.invalid" >
            Envoyer Mon CRA
          </button>
        </div>
<!--
        <div class="form-group">
          <button 
             type="submit" class="btn btn-success" (click)="onSave()" [disabled]="craForm.invalid">
            Valider mon CRA
          </button>
        </div>
-->
      </form>
    </div>
</div>